__pycache__/
*.pyc
efficient_search_runs/
efficient_search_runs*/
best_efficient_arch.json
hpo_time_to_miou_runs/
hpo_time_to_miou_runs*/
best_hpo_time_to_miou.json
hpo_bn_scheduler_runs/
hpo_bn_scheduler_runs*/
best_hpo_bn_scheduler.json
raindrop_hpo_runs/
raindrop_hpo_runs*/
best_raindrop_hpo.json
raindrop_weight_escape_runs/
raindrop_weight_escape_runs*/
